/*공지사항 */
.board_wrap{margin-top:20px;}
.board_wrap .srch_wrap{position:relative; height:43px;}
.board_wrap .srch_wrap p{position:absolute; top:0; left:0; font-size:14px; color:#666;line-height:36px}
.board_wrap .srch_wrap p strong{color:#000;font-weight:400;}
.board_wrap .srch_wrap .srch_sub_box{position:absolute; top:0px; right:0; font-size:16px; color:#666; text-align:right;}
.board_wrap .srch_wrap .srch_sub_box select{border:1px solid  #c8c8c8; -webkit-appearance: none; -moz-appearance: none; appearance: none; width:140px; display: inline-block;  height:43px;  font-size:14px; color:#222;font-weight:300;border-radius:5px;}
.board_wrap .srch_wrap .srch_sub_box .option_box{background-image:url(../images/sub/ico_select.png);; background-position:90% 50%; background-repeat:no-repeat;}
.board_wrap .srch_wrap .srch_sub_box2 {border:1px solid  #c8c8c8; display: inline-block; width:260px; height:43px;border-radius:5px;}
.board_wrap .srch_wrap .srch_sub_box2  input[type=text]{height:41px; width:190px; border:0; font-size:14px; color:#222;font-weight:300;border-radius:5px;    background-color: transparent;}
.board_wrap .srch_wrap .srch_sub_box2  button{background-color:#fff; vertical-align:top;font-size:0; height:41px; width:60px;border:0; background-image:url('../images/sub/ico_search_sub.gif');  background-position:center; background-repeat:no-repeat;    background-color: transparent;}
.sub_wrap  .board_wrap .btn_area .btn.btn_white {border:1px solid #591f7d;background-color:#fff;color:#591f7d;}
.board_wrap table .new_i{width: 17px;height: 17px;font-size: 12px;text-align: center;line-height: 16px;color: #fff; background-color: #591f7d;-webkit-border-radius:100% ;-moz-border-radius:100% ;border-radius:100% ;margin-left: 3px;}

div.icon {float:right;    padding-left: 20px;}
div.sub-wrapper, div.final-wrapper, div.text {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
div.sub-wrapper {text-align:left;}
div.final-wrapper {display:inline-block;max-width:100%;}

.board_wrap .list_type_01 {margin-top:20px;}
.list_type_01 table{width:100%; border-collapse: collapse;border-top:1px solid #444;     table-layout: inherit;}
.list_type_01 thead tr{border-bottom:1px solid #ccc; height:60px; font-size:16px; color:#333;}
.list_type_01 thead tr th{font-weight:500; font-size:16px; color:#333;border-right:1px solid #ccc;}
.list_type_01 thead tr th:last-child{border-right:0;}
.list_type_01 tbody tr{ border-bottom:1px solid #ccc; height:50px;}
.list_type_01 tbody tr.noti_case{background-color:#f2f7fa;}
.list_type_01 tbody tr td{text-align:center; color:#666;border-right:1px solid #ccc;font-size:15px;font-weight:400;}
.list_type_01 tbody tr td:last-child{border-right:0;}
.list_type_01 tbody tr td a{display: inline-block;padding:0 30px;color:#333;}
.list_type_01 tbody tr td a.file{font-size:0;width:22px;height:22px;background-image: url("../images/sub/file_ico.png");background-repeat:no-repeat;background-position:center;}
.list_type_01 tbody tr td.tl{text-align:left;}
.list_type_01 tbody tr td.tr{text-align:right}
.list_type_01 tbody tr td.subject {white-space:nowrap; ;}
.list_type_01 tbody tr td.subject a {text-overflow: ellipsis;overflow: hidden;}
.list_type_01 tbody tr td .list_title{text-align:left; display: table;table-layout:fixed;width: 100%;white-space:nowrap;  color:#333; }
.list_type_01 tbody tr td .list_title_01 .brief{text-align:left !important; display:table-cell;text-overflow: ellipsis;overflow: hidden;width:100%; color:#555; }
.list_type_01 tbody tr td .list_title  i{font-size:0; vertical-align:middle; display:inline-block;height:20px;  margin-right:3px;}
.list_type_01 tbody tr td a.title01 {  text-align: left;    padding: 0 30px;    display: block;    width: 515px;}
.list_type_02 table{width:100%; border-collapse: collapse;border-top:2px solid #444;}
.list_type_02 thead tr{ border-top:2px solid #666; border-bottom:1px solid #ccc; height:60px; font-size:16px; color:#333;}
.list_type_02 thead tr th{font-weight:500; font-size:16px; color:#333;border-right:1px solid #ccc;}
.list_type_02 thead tr th:last-child{border-right:0;}
.list_type_02 tbody tr{ border-bottom:1px solid #ccc; height:50px;}
.list_type_02 tbody tr.noti_case{background-color:#f2f7fa;}
.list_type_02 tbody tr td{text-align:center; color:#666;border-right:1px solid #ccc;font-size:15px;font-weight:400;}
.list_type_02 tbody tr td:last-child{border-right:0;}
.list_type_02 tbody tr td a{display: inline-block;padding:0 30px;color:#333;}
.list_type_02 tbody tr td a.file{font-size:0;width:22px;height:22px;background-image: url("../images/sub/file_ico.png");background-repeat:no-repeat;background-position:center;}
.list_type_02 tbody tr td.tl{text-align:left;}
.list_type_02 tbody tr td.tr{text-align:right}

.view_qna{border-top:2px solid #666;font-size:0;}
.view_qna dt {font-size:16px;font-weight:400;color:#333;border-bottom:1px solid #c9c9c9;background:url("../images/sub/sub_up_ico.png");background-repeat:no-repeat;background-position:right 22px center;}
.view_qna dt.hidden {background:url("../images/sub/sub_down_ico.png");background-repeat:no-repeat;background-position:right 22px center;}
.view_qna dt a {box-sizing:border-box;display:block;padding:7px 50px 7px 80px;background:url('../images/sub/ico_q.png');background-repeat:no-repeat;background-position:left 10px center;}
.view_qna dt a span{height:37px;line-height:37px;display:block;overflow:hidden;}
.view_qna dd {display:none;padding:25px 10px 70px 79px;color:#444;background-color:#f2f7fa;background-image:url('../images/sub/ico_a.png');background-repeat:no-repeat;background-position:left 10px top 22px;border-bottom:1px solid #c9c9c9;}
.view_qna dd p{line-height:30px;font-size:15px;color:#000;}
.view_qna dd:last-child {border-bottom:1px solid #c9c9c9;}


.view_title{padding:23px 30px 23px 12px; border-top:1px solid #666; border-bottom:1px solid #ccc; background-color:#f2f7fa; position:relative;}
.view_title::after{content:''; display:block; clear:both;}
.view_title p:first-child{color:#000; font-size:20px;text-align:left;position:relative;}
.view_title p:first-child span{display: inline-block;font-size:16px;color:#666;line-height:29px;padding-right:20px;vertical-align:top;}
.view_title .view_writer p{color:#666; font-size:14px;padding-left:40px;line-height:14px;padding-top:3px;}
.view_title .view_writer p span{display: inline-block;padding-right:17px;}
.view_title .view_writer p strong{font-weight:400;color:#000;display: inline-block;padding-left:8px; }
.view_con {border-bottom:1px solid #ccc;  padding:20px;text-align:left;}
.view_con  div:first-child{padding:10px 0 30px 0}
.view_con .view_tag span{display:inline-block; font-weight:100; font-size:13px; color:#666; background-color:#f2f7fa; height:25px; line-height:25px; padding:0 7px;}
.view_con img, .view_con video{max-width: 100%;margin: 5px 0;}

.view_container{margin-top:20px;}
.view_container p.file_txt{font-size:15px;color:#000;line-height:15px;font-weight:400;padding-top:30px;padding-bottom:15px;}
.view_container p.file_txt strong{color:#115fad;font-weight:400;}
.view_container ul.file_list{border:1px solid #ccc;font-size:0;}
.view_container ul.file_list li{padding:14px 30px;background:#f7f7f7;border-bottom:1px solid #ccc;}
.view_container ul.file_list li:last-child{border-bottom:0;}
.view_container ul.file_list li a{font-size:14px;color:#333;line-height:15px;padding-left:40px;position:relative;display: inline-block;}
.view_container ul.file_list li a i{display: inline-block;position:absolute;top:0;left:0;height:15px;width:18px;background-image: url("../images/sub/file_ico.png");background-repeat: no-repeat;background-position:center;background-size:18px auto;}

/* qna */
.board_wrap .qna_info{position: relative;margin-top: 45px;background-color: #f8f8f8;border-top: 2px solid #222;height: 186px;display: table;width: 100%;}
.board_wrap .qna_info .ico_info{position: absolute;top: 50%;left: 67px;transform:translateY(-50%);-webkit-transform:translateY(-50%); display: inline-block;width: 110px;height: 110px;background-repeat: no-repeat;background-image: url(../images/sub/ico_qna.png);}
.board_wrap .qna_info .info_txt{display: table-cell;vertical-align: middle;font-size: 18px;font-weight: 400;color: #090909;line-height: 28px;padding-left: 216px;-ms-word-break: keep-all; word-break: keep-all;}
.board_wrap .qna_info .info_txt strong{    color: #591f7d;}

.board_wrap .qna_table{margin-top: 30px;}
.board_wrap .required{font-size: 16px;font-weight: 200;color: #ff4242;}
.board_wrap .table_wrap dl{display: table;width: 100%;}
.board_wrap .table_wrap dl dt,
.board_wrap .table_wrap dl dd{display: table-cell;vertical-align: middle;border-top: 1px solid #e5e5e5;}
.board_wrap .table_wrap dl:first-child dt,
.board_wrap .table_wrap dl:first-child dd{border-top: none;}
.board_wrap .table_wrap dl dt{width: 267px;background-color: #fcfafc;font-size: 16px;font-weight: 300;height: 51px;text-align: center;}
.board_wrap .table_wrap dl dd{background-color: #fff;height: 51px;font-size: 16px;color: #0a0a0a;border-left: 1px solid #e5e5e5;padding: 10px 25px 11px 18px;}
.board_wrap .table_wrap dl dd strong{color: #f47920;}
.board_wrap .table_wrap.qna_table dl dt .mobile{display: none;}
.board_wrap .table_wrap dl dd textarea{height: 153px;padding: 5px 16px;border-radius:5px;resize:none;}
.board_wrap  .input_area input {    height: 48px;    line-height: 48px;}
.table_wrap .attach_area{position: relative;font-size: 0;}
.table_wrap .attach_area .file_area{position: relative;width: 442px;display: inline-block;vertical-align: top;margin-right: 0;}
.table_wrap .attach_area .file_area input[type="text"]{padding-left: 20px;padding-right: 107px;height: 48px;line-height: 46px;font-size: 16px;font-weight: 200;}
.table_wrap .attach_area .file_area input[type="file"]{width: 1px;height: 1px;position: absolute;opacity: 0;}
.table_wrap .attach_area .file_area .file_btn{position: absolute;top: 0;right: 0;display: inline-block;vertical-align: top;width: 100px;height: 34px;line-height: 34px;font-size: 16px;font-weight: 200;color: #fff;background-color: #525252;text-align: center;}
.table_wrap .attach_area .txt_area{display: inline-block;vertical-align: top;width: 445px;padding-left: 15px;}
.table_wrap .attach_area .txt_area p{font-size: 16px;color: #090909;font-weight: 200;line-height: 20px;}


.board_wrap .table_wrap dl dd .upload_file {display:inline-block;line-height:48px;height:48px;border-radius:5px;margin-right:6px;border: 1px solid #dcdcdc;border-radius:5px;    padding: 0 20px;width:300px;box-sizing:border-box;color:#525252;font-size:14px;font-weight:300;}
.board_wrap .table_wrap dl dd .upload_file span {margin-right:7px;}
.board_wrap .table_wrap dl dd .upload_file button {display:inline-block;vertical-align:middle;width: 20px;    height: 20px;    background-repeat: no-repeat;    background-position: center center;    background-image: url(../images/sub/ico_del.png);    font-size: 0;    background-size: 20px 20px;}
.board_wrap .table_wrap dl dd .upload_file +  input[type=file] {position:absolute;opacity:0;height:48px;}
.board_wrap .table_wrap dl dd  input[type=file].file_input + label {display:inline-block;line-height:48px;height:48px;border-radius:5px;cursor:pointer;background-color:#525252;color:#fff;font-size:14px;font-weight:300;padding:0 25px;vertical-align:top;}
.board_wrap .table_wrap dl dd .txt_area {    display: inline-block;    vertical-align: top;    width: 445px;    padding-left: 15px;}
.board_wrap .table_wrap dl dd  .txt_area p{font-size: 16px;color: #222;font-weight: 200;line-height: 20px;}

.table_wrap .refer_area {margin-top: 17px;margin-left: -22px;}
.table_wrap .refer_area span{position: relative;display: inline-block;vertical-align: top;margin-left: 22px;margin-bottom: 8px;line-height: 20px;font-size: 15px;color: #090909;font-weight: 200;padding-right: 25px;}
.table_wrap .refer_area span button{width: 20px;height: 20px;position: absolute;top:50%;right: 0;background-repeat: no-repeat; background-image: url(../images/common/btn_close03.png);font-size: 0; transform:translateY(-50%);-webkit-transform:translateY(-50%);}


.list_search{position: relative;margin-top: 45px;padding: 31px;border: 1px solid #dad9d7;box-shadow:2px 2px 2px rgba(0,0,0,0.1)}
.list_search p{padding-left: 45px;font-size: 20px;font-weight: 200;color: #090909;line-height: 46px;background-repeat: no-repeat;background-position: 16px center;background-image: url(../images/sub/ico_list.png);}
.list_search p strong{color: #5a217e;font-weight: 500;}
.list_search .srch_box{position: absolute;top: 50%;right: 31px; transform: translateY(-50%); -webkit-transform: translateY(-50%);font-size: 0;}
.list_search .srch_box .sel_area{display: inline-block;vertical-align: top;width: 161px;margin-left: 6px;}
.list_search .srch_box .sel_area:first-child{margin-left: 0px;}
.list_search .srch_box .sel_area select{height: 46px;line-height: 44px;font-size: 16px;color: #090909;font-weight: 200;}
.list_search .srch_box .input_area{display: inline-block;vertical-align: top;width: 301px;margin-left: 6px;}
.list_search .srch_box .input_area input{padding-right: 48px;height: 46px;line-height: normal;font-size: 16px;color: #090909;font-weight: 200;}
.list_search .srch_box .input_area .btn{position: absolute;top: 0;right: 0;width: 48px;height: 100%;background-repeat: no-repeat;background-position: center;background-image: url(../images/common/ico_srch_on.png);font-size: 0;}
.list_search .srch_box .input_area .btn.close{right: 50px;width: 20px;background-image: url(../images/common/ico_close02.png);opacity: 0; transition:0.3s; -webkit-transition:0.3s;}
.list_search .srch_box .input_area input:focus ~ .btn.close,
.list_search .srch_box .input_area .btn.close:focus{opacity: 1;}



.list_wrap{margin-top: 38px;border-top: 2px solid #5a217e;}
.faq_wrap .list_wrap {margin-top:20px;}
.list_wrap .faq_list dt{border-bottom: 1px solid #ddd;}
.list_wrap .faq_list dt.on{border-bottom: none;}
.list_wrap .faq_list dt a{position: relative;display: block;padding: 12px 109px 11px 60px;background-repeat: no-repeat;background-position: 20px center;background-image: url(../images/sub/ico_q.png);background-size: 21px 20px;}

.list_wrap .faq_list dt a .title{display: block;line-height: 30px;font-size: 15px;color: #090909;font-weight: 300; white-space: nowrap; -ms-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}
.list_wrap .faq_list dt a .caption{display: block;font-size: 16px;font-weight: 200;color: #535353;line-height: 26px; white-space: nowrap; -ms-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}
.list_wrap .faq_list dt a .ico_list{position: absolute;top: 0;right: 0;width: 89px;height: 100%;background-repeat: no-repeat;background-position: center;background-image: url(../images/sub/ico_list02.png);font-size: 0;}
.list_wrap .faq_list dt a.on .ico_list{background-image: url(../images/sub/ico_list02_on.png);}
.list_wrap .faq_list dt a .ico_list:before{content: '';position: absolute;top: 50%;left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 1px;height: 58px;background-color: #dad9d7;}

.list_wrap .faq_list dd{display: none;border-bottom: 1px solid #ddd;background-color: #f1f4f4;padding: 43px 46px 57px;}
.list_wrap .faq_list dd .inner_con {position: relative;padding-left: 24px;background-repeat: no-repeat;background-position: left 5px;  min-height: 60px;    padding-right: 64px;}
.list_wrap .faq_list dd .inner_con p{font-size: 18px;color: #090909;line-height: 34px;}
.list_wrap .faq_list dd .inner_con .writer_info{margin-top: 34px;font-size: 0;}
.list_wrap .faq_list dd .inner_con .writer_info strong{position: relative;display: inline-block;vertical-align: top;line-height: 22px;font-size: 18px;color: #090909; font-weight: 600;margin-left: 14px;padding-left: 16px;}
.list_wrap .faq_list dd .inner_con .writer_info strong:before{content: '';width: 1px;height: 13px;background-color: #cfcfcf;position: absolute;top: 50%;left: 0;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.list_wrap .faq_list dd .inner_con .writer_info strong:first-child{margin-left: 0;padding-left: 0;}
.list_wrap .faq_list dd .inner_con .writer_info strong:first-child:before{display: none;}


/* 1200px */
@media only screen and (max-width:1200px) {


/* qna */
	.board_wrap .qna_info{height: 150px;}
	.board_wrap .qna_info .info_txt{font-size: 16px;line-height: 24px;}

	.board_wrap .table_wrap dl{display: block;}
	.board_wrap .table_wrap dl dt{display: block;width: 100%;line-height: 50px;}
	.board_wrap .table_wrap dl dd{display: block;width: 100%;padding:  10px;height: auto;border-left: none;}
	.table_wrap .attach_area .file_area{display: block;width: 100%;}
	.table_wrap .attach_area .txt_area p{font-size: 14px;}
	
	/* qna */
	.table_wrap .attach_area .txt_area{display: block;width: 100%;padding-left: 0;margin-top: 10px;}




/* tablet */
@media only screen and (max-width:1000px) {
.list_search{margin-top: 40px;padding: 25px;}
.list_search p{padding-left: 36px;font-size: 18px;background-position: 10px center;}
.list_search .srch_box{right: 25px;}

}

/* tablet_2 */
@media only screen and (max-width:800px) {


/* 공지사항 */
	.board_wrap .srch_wrap{height:auto;}
    .board_wrap .srch_wrap p{position:relative;top:0;line-height:17px;padding-bottom:10px;}
    .board_wrap .srch_wrap .srch_sub_box{position:relative;padding-bottom:10px;}
    .board_wrap .srch_wrap .srch_sub_box .option_box{width:100%;background-position:95% center;}
    .board_wrap .srch_wrap .srch_sub_box2{width:100%;margin-top:5px;}
	.board_wrap .srch_wrap .srch_sub_box .option_box.optfirst {margin-bottom:5px;}
    .board_wrap .srch_wrap .srch_sub_box2 input[type=text]{width:calc(100% - 45px);float:left;}
    .board_wrap .srch_wrap .srch_sub_box2 button{width:45px;background-size:15px auto;}
	.board_wrap .list_type_01 {margin-top:0;}
	.list_type_01 table{border-top:1px solid #222;}
    .list_type_01 thead{display:none;}
    .list_type_01 tbody tr{font-size:0;}
    .list_type_01 tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    .list_type_01 tbody tr td{display:block;float:left;clear:left;width:100%;padding: 3px 5px 3px;border:none;text-align:left;box-sizing:border-box }
    .list_type_01 tbody tr td:first-child{padding-top:10px;}
    .list_type_01 tbody tr td:last-child{padding-bottom:10px}
    .list_type_01 tbody tr td a{padding:0;display:inline-block;}
    .list_type_01 tbody tr td.subject{position:relative;}
    .list_type_01 tbody tr td.subject a{padding-left:44px;}
    .list_type_01 tbody tr td.subject::before{position:absolute;top:3px;left:5px;}
    .list_type_01 [data-cell-header]::before{content:attr(data-cell-header);display: inline-block; }
	.list_type_01 tbody tr td a.title01 {width:100%;padding-left:44px;    padding-right: 0;}
	
	div.sub-wrapper, div.final-wrapper, div.text {    white-space: normal;}
.list_search p{font-size: 16px;}
.list_search{padding: 15px;}
.list_search .srch_box .sel_area select{font-size: 14px;}
.list_search .srch_box .input_area input{font-size: 14px;}
.list_search .srch_box .input_area input::placeholder{font-size: 14px;}

.list_search .srch_box {position: relative;top: auto;right: auto;transform: translateY(0);font-size: 0;margin-top: 10px;}
.list_search .srch_box .sel_area{width: 40%;}
 .list_search .srch_box .input_area{width: 58%;margin-left: 2%;}

.list_search .srch_box {    right: auto;}
/* mobile */
@media only screen and (max-width:480px) {

/* qna */
	.board_wrap .qna_info {height: auto;padding: 15px 10px;}
	.board_wrap .qna_info .ico_info{display: none;}
	.board_wrap .qna_info .info_txt{font-size: 14px;padding-left: 0;}
	.board_wrap  .input_area input {    height: 40px;    line-height: 40px;}
	.board_wrap .table_wrap dl dt{font-size: 15px;}
	.table_wrap .attach_area .txt_area p{font-size: 13px;}
	.table_wrap .refer_area span{font-size: 14px;}
	.table_wrap .refer_area span button {width: 16px;height: 16px;background-size: contain;}
	.board_wrap .table_wrap dl dd .upload_file.rbtn {width:calc(100% - 115px);margin-right:0;height:40px;line-height:40px;}
	.board_wrap .table_wrap dl dd input[type=file].file_input + label {height:40px;line-height:40px;border-radius:2.5px;}
	.board_wrap .table_wrap dl dd .txt_area {width:100%;display:block;padding-left:0;margin-top:10px;}
	.board_wrap .table_wrap dl dd .txt_area p {font-size:13px;}
	/* faq */
	.list_wrap .faq_list dt a{padding: 20px 50px 20px 40px;background-size: 15px auto;background-position: 15px center;}
	.list_wrap .faq_list dt a .title{font-size: 16px;line-height: 24px;}
	.list_wrap .faq_list dt a .caption{font-size: 14px;line-height: 20px;}
	.list_wrap .faq_list dt a .ico_list{width: 50px;background-size: 18px 9px;}

	.list_wrap .faq_list dd{padding: 10px 15px;padding-left: 0;}
	.list_wrap .faq_list dd .inner_con{background-size: 30px;padding-left: 40px;background-position: 10px 5px;}
	.list_wrap .faq_list dd .inner_con p{font-size: 14px;line-height: 24px;}
	.list_wrap .faq_list dd .inner_con .writer_info strong{font-size: 12px;margin-left: 10px;padding-left: 10px;}

}
/* small_device */
@media only screen and (max-width:360px) {

}