<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

    <configuration>
    	<settings>
		  <!-- 자동으로 카멜케이스 규칙으로 변환 -->
		    <setting name="mapUnderscoreToCamelCase" value="true"/>
		 </settings>

    	
        <typeAliases>
			<typeAlias type="com.boxads.main.vo.BoardVO" alias="BoardVO" />
			<typeAlias type="com.boxads.main.vo.FileVO" alias="FileVO" />
			<typeAlias type="com.boxads.main.vo.MemberVO" alias="MemberVO" />
			
			<typeAlias type="com.boxads.box.vo.CodeVO" alias="CodeVO" />
			<typeAlias type="com.boxads.box.vo.BoxVO" alias="BoxVO" />
			<typeAlias type="com.boxads.ad.vo.AdVO" alias="AdVO" />

			<typeAlias type="com.boxads.common.vo.LogVO" alias="LogVO" />
			<typeAlias type="com.boxads.etc.vo.CouponVO" alias="CouponVO" />
			<typeAlias type="com.boxads.common.vo.OrderVO" alias="OrderVO" />
			<typeAlias type="com.boxads.common.vo.PriceVO" alias="PriceVO" />
			
			<typeAlias type="com.boxads.cash.vo.CashVO" alias="CashVO" />
			
			<typeAlias type="com.boxads.deal.vo.BillVO" alias="BillVO" />
			<typeAlias type="com.boxads.deal.vo.BankInfoVO" alias="BankInfoVO" />
			
			<typeAlias type="com.boxads.common.vo.MessageVO" alias="MessageVO" />
			

        </typeAliases>
    </configuration>
