.mt15{margin-top: 15px;}
.main_banner{background-color: #fef7dd;}
.main_banner .inner{max-width: 1200px; margin: 0 auto;font-size: 0;}
.main_banner .inner .banner_slide{display: inline-block;vertical-align: top;width: 860px;}
.main_banner .inner .banner_slide.mobile{display: none;}
.main_banner .inner img{max-width: 100%;}
.main_banner .inner .banner_slide .swiper_util{position: absolute;text-align: center;bottom: 33px;left: 0; right: 0; font-size: 0; z-index: 3;}
.main_banner .inner .banner_slide .swiper_util .swiper-pagination{position: static; display: inline-block;vertical-align: top;}
.main_banner .inner .banner_slide .swiper_util .swiper-pagination .swiper-pagination-bullet{width: 10px;height: 10px;margin:0 5px; background-color: #eaeaea;opacity: 1;}
.main_banner .inner .banner_slide .swiper_util .swiper-pagination .swiper-pagination-bullet-active{ background-color: #5f0080;}
.main_banner .inner .banner_slide .swiper_util .btn{width: 10px;height: 10px;background-repeat: no-repeat;background-position: center; background-image: url(../images/main/ico_sp.png); font-size: 0; margin:0 5px;}

.main_banner .inner .main_info{display: inline-block;vertical-align: top;width: 340px;height: 340px; background-color: #fff;font-size: 14px;}
.main_banner .inner .main_info .ib_inner{/*padding: 26px 43px 24px 46px; */   padding: 58px 43px 50px 46px;}
.main_banner .inner .main_info .ib_inner dl:after{content: '';display: block;clear: both;}
.main_banner .inner .main_info .ib_inner dl dt{float: left; font-size: 14px;color: #727272;line-height: 36px; font-weight: 300;}
.main_banner .inner .main_info .ib_inner dl dd{float: right; font-size: 18px;color: #525252; font-weight: 200; line-height: 36px;}
.main_banner .inner .main_info .ib_inner dl dd strong{color: #5f0080;font-weight: 500;}

.main_banner .inner .main_info .ib_inner.login{padding: 20px 34px;}
.main_banner .inner .main_info .ib_inner .ib_name{line-height: 26px;padding-bottom: 20px; border-bottom: 1px solid #f4f4f4; margin-bottom: 14px;}
.main_banner .inner .main_info .ib_inner .ib_name strong{display: inline-block;vertical-align: top; max-width: calc(100% - 75px);}
.main_banner .inner .main_info .ib_inner .ib_name strong em{display: inline-block;vertical-align: top; max-width: 80%; white-space: nowrap;-ms-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden;}
.main_banner .inner .main_info .ib_inner.login dl{margin-top: 2px;}
.main_banner .inner .main_info .ib_inner.login .ib_name + dl{margin-top: 0;}
.main_banner .inner .main_info .ib_inner.login dl dt{line-height: 36px;font-size: 14px;}
.main_banner .inner .main_info .ib_inner.login dl dd{line-height: 36px;font-size: 18px;}

.main_content .content_area .inner{position: relative;max-width: 1200px; margin: 0 auto; padding: 55px 0 100px;}
.main_content .content_area .inner .tab_btn{position: absolute;top: 55px;left: 0;font-size: 0;z-index: 3;}
.main_content .content_area .inner .tab_btn .btn{position: relative;font-size: 18px;color: #929292;margin-left: 40px; height: 36px;line-height: 36px;}
.main_content .content_area .inner .tab_btn .btn:before{content: '';width: 1px;height: 12px; background-color: #929292; position: absolute; top: 50%;left: -22px; transform: perspective(6px) translateY(-50%); -webkit-transform: perspective(6px) translateY(-50%);}
.main_content .content_area .inner .tab_btn .btn:first-child{margin-left: 0;padding-left: 0;}
.main_content .content_area .inner .tab_btn .btn:first-child:before{display: none;}
.main_content .content_area .inner .tab_btn .btn.on{color: #5f0080;font-weight: 500;border-bottom: 1px solid #5f0080;}

.main_content .content_area .inner .main_tab_content{position: relative;padding-top: 48px;}
.main_tab_content {display: none;}
.main_tab_content .sort_area{position: absolute;top: 8px;right: 0;}
.main_tab_content .sort_area input[type=radio]{width: 1px;height: 1px;position: absolute;opacity: 0;}
.main_tab_content .sort_area .chk{display: inline-block;vertical-align: top;margin-left: 18px;padding-right: 15px; line-height: 28px; font-size: 14px;color: #727272; background-repeat: no-repeat;background-position: right center; background-image: url(../images/common/arrow_down02.png);}
.main_tab_content .sort_area input:checked + .chk{color: #222; font-weight: 500;}

.main_tab_content ul{margin-left: -32px;font-size:0;}
.main_tab_content ul:after{content: '';display: block;clear: both;}
.main_tab_content ul li {display:inline-block;width: 276px;margin-left: 32px;margin-bottom: 40px;vertical-align:top;}
.main_tab_content ul li .list_top{position: relative;border: 1px solid #eaeaea; border-radius: 3px;overflow: hidden;}
.main_tab_content ul li .list_top .img_area{position: relative; height: 0;padding-bottom: 74.63%;}
.main_tab_content ul li .list_top > .img_area:hover img{transform: scale(1.15);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);}
.main_tab_content ul li .list_top .img_area img{position: absolute;top: 0;left: 0;right: 0;bottom: 0; width: 100%;height: 100%; object-fit:cover;transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transition: all 0.3s ease-in-out;}
.main_tab_content ul li .list_top .img_area span{display: inline-block;position: absolute;left: 0;bottom: 0;right: 0;height: 84px; background-repeat: no-repeat;background-image: url(../images/main/info_bg.png); -webkit-background-size: cover; background-size: cover;}
.main_tab_content ul li .list_top .info_area{position: absolute;bottom: 30px;left: 11px;}
.main_tab_content ul li .list_top .info_area a{display: inline-block;margin: 15px 0;}
.main_tab_content ul li .list_top .info_area .img_area{display: inline-block;vertical-align: top;width: 54px;padding-bottom: 54px;border-radius: 54px;overflow: hidden;}
.main_tab_content ul li .list_top .info_area p{display: inline-block;vertical-align: top;line-height: 54px; font-size: 12px;color: #fff;padding-left: 10px;}

.main_tab_content ul li .list_top .like_area{position: absolute;top: 14px; right: 14px;}
.main_tab_content ul li .list_top .like_area input{width: 1px;height: 1px;position: absolute;opacity: 0;}
.main_tab_content ul li .list_top .like_area .chk{display: block;width: 28px;height: 26px;font-size: 0; background-repeat: no-repeat;background-image: url(../images/main/ico_like.png);}
.main_tab_content ul li .list_top .like_area input:checked + .chk{background-image: url(../images/main/ico_like_on.png);}

.main_tab_content ul li .list_content{padding: 17px 15px 6px 10px;}
.main_tab_content ul li .list_content .goods_info{position: relative;}
.main_tab_content ul li .list_content .goods_info .sort{font-size: 13px;color: #727272; line-height: 22px;}
.main_tab_content ul li .list_content .goods_info span{display: none;width: 42px;height: 22px;line-height: 22px;border-radius: 3px; font-size: 12px;font-weight: 200;color: #fff; background-color: #c0c0c0; text-align: center; position: absolute;top: 0;right: -12px;}
.main_tab_content ul li .list_content .goods_info span.soldout{display: block;}
.main_tab_content ul li .list_content .list_title{margin: 7px 0 12px;overflow: hidden;}
.main_tab_content ul li .list_content .list_title a{display: -webkit-box;height: 40px;line-height: 20px; font-size: 14px;font-weight: 400;color: #525252; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-wrap: break-word;-ms-text-overflow: ellipsis;text-overflow: ellipsis; overflow: hidden;}
.main_tab_content ul li .list_content dl{font-size: 0;}
.main_tab_content ul li .list_content dl dt{position: relative;display: inline-block;vertical-align: top; padding-left: 6px; font-size: 16px;color: #929292; line-height: 24px; width: 70px;font-weight: 300;}
.main_tab_content ul li .list_content dl dt:before{content: '';position: absolute;top: 12px;left: 0; background-color: #929292; width: 2px;height: 2px;}
.main_tab_content ul li .list_content dl dd{display: inline-block;vertical-align: top;line-height: 24px; font-size: 17px;font-weight: 200;color: #222; width: calc(100% - 70px);}
.main_tab_content ul li .list_content dl dd strong{font-weight: 500;}
.main_tab_content ul li .list_content dl dd span{font-size: 14px;color: #525252;}
.main_tab_content ul li .list_content .list_sub_info{margin-top: 10px;font-size: 0;}
.main_tab_content ul li .list_content .list_sub_info span{position: relative;display: inline-block; vertical-align: top; font-size: 0px;font-weight: 200;color: #a9a9ae;line-height:21px;margin-left: 7px;padding-left: 8px;}
.main_tab_content ul li .list_content .list_sub_info span.sale{font-size: 15px;}
.main_tab_content ul li .list_content .list_sub_info span:before{content: '';width: 1px;height: 8px; background-color: #c2c2c6; position: absolute;top: 50%;left: 0; transform: perspective(4px) translateY(-50%); -webkit-transform: perspective(4px) translateY(-50%);}
.main_tab_content ul li .list_content .list_sub_info span:first-child{margin-left: 0;padding-left: 0;}
.main_tab_content ul li .list_content .list_sub_info span:first-child:before{display: none;}
.main_tab_content ul li .list_content .list_sub_info span.like i{display: inline-block;vertical-align: top;width: 12px;height: 100%;background-repeat: no-repeat;background-position: center; background-image: url(../images/main/ico_sub_like.png);font-size: 0; margin-right: 5px;}
.main_tab_content ul li .list_content .list_sub_info span strong{font-weight: 500;}
.main_tab_content ul li .list_content .list_sub_info span strong{display: inline-block;font-size: 15px; line-height: 22px; padding-left: 28px; background-repeat: no-repeat;background-position: left center; background-image: url(../images/main/ico_sub_view.png); -webkit-background-size: 20px 12px;	background-size: 20px 12px;}
.main_tab_content ul li .list_content .list_sub_info span.like strong{display: inline;padding-left: 0; background-image: none;}

.main_tab_content .btn_area{text-align: center;}
.main_tab_content .btn_area .btn{width: 320px;height: 50px;line-height: 48px;border: 2px solid #bfbfbf; -webkit-border-radius: 5px;border-radius: 5px; font-size: 18px;font-weight: 500;color: #525252;}

/*데이터피커*/
.cal_wrap .datearea .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background-color: #591f7d !important;color: #fff !important;}
.ui-widget.ui-widget-content{border:1px solid #ccc !important;-webkit-box-sizing: border-box !important;-moz-box-sizing: border-box !important;box-sizing: border-box !important;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{-webkit-background-size:10px 17px !important; background-size:10px 17px !important;}
.ui-datepicker-header .ui-datepicker-prev span{background-image: url("../images/common/prev_check.png") !important;}
.ui-datepicker-header .ui-datepicker-next span{background-image: url("../images/common/next_check.png") !important;}


.main_tab_content ul.ads_list li .list_content .list_title {margin: 7px 0 8px;}
/* .main_tab_content ul.ads_list li .list_content .list_title a{-webkit-line-clamp:1; display: inline-block; height: 20px;white-space: nowrap; max-width: 100%;} */
.main_tab_content ul.ads_list li .list_content dl{overflow: hidden;}
.main_tab_content ul.ads_list li .list_content dl dt{width: 81px; font-size: 16px;float: left;}
.main_tab_content ul.ads_list li .list_content dl dd{width: calc(100% - 81px);font-size: 16px;font-weight: 400;height: 48px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word;line-height: 24px;float: left;}
.main_tab_content ul.ads_list li .list_content dl dd p { height: 48px;line-height:24px;      display: -webkit-box;overflow: hidden;white-space: normal;text-align: left;word-wrap: break-word;  -webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}
.main_tab_content ul.ads_list li .list_content dl + dl dd  {height:auto;}

/* 1200px */
@media only screen and (max-width:1200px) {
	.main_banner .inner{position: relative;}
	.main_banner .inner .banner_slide{width: 71.667%;}
	.main_banner .inner .main_info{position: absolute;top: 0;right: 0;width: 28.332%;height: 100%;}
	.main_banner .inner .main_info .ib_inner{padding: 20px;}
	.main_banner .inner .main_info .ib_inner .ib_name{padding-bottom: 10px;margin-bottom: 10px;}
	.main_banner .inner .main_info .ib_inner dl dt{line-height: 40px;}
	.main_banner .inner .main_info .ib_inner dl dd{line-height: 40px;}
	.main_banner .inner .main_info .ib_inner.login{padding: 20px;}
	.main_banner .inner .main_info .ib_inner.login dl dt{line-height: 30px;}
	.main_banner .inner .main_info .ib_inner.login dl dd{line-height: 30px;}

	.main_banner .inner .main_info .box_slider{position: absolute;left: 0;right: 0;bottom: 0;}

	.main_content .content_area .inner{padding: 55px 20px 100px;}

	.main_content .content_area .inner .tab_btn{left: 20px;}
	.main_tab_content ul{margin-left: -2%;}
	.main_tab_content ul li{width: 23%;margin-left: 2%;}
	.main_tab_content ul li .list_content{padding: 17px 0 6px 0;}
}


/* 1024px */
@media only screen and (max-width:1024px) {
	.main_banner .inner .main_info .ib_inner.login{padding: 10px 20px;}
	.main_banner .inner .main_info .ib_inner dl dt{line-height: 30px;}
	.main_banner .inner .main_info .ib_inner dl dd{font-size: 18px;line-height: 30px;}
	.main_banner .inner .main_info .ib_inner .ib_name{padding-bottom: 4px;}
	.main_banner .inner .main_info .ib_inner.login dl dt{line-height: 24px;}
	.main_banner .inner .main_info .ib_inner.login dl dd{font-size: 16px;line-height: 24px;}

	.main_content .content_area .inner{padding: 30px 20px 60px;}
	.main_content .content_area .inner .tab_btn{top: 30px;}
	.main_content .content_area .inner .tab_btn .btn{font-size: 16px;}

	.main_tab_content ul{margin-left: -1.333%;}
	.main_tab_content ul li{width: 32%;margin-left: 1.333%;}
}

/* tablet */
@media only screen and (max-width:768px) {
	.main_banner .inner .banner_slide{display: none;}
	.main_banner .inner .banner_slide.mobile{display: block;width: 100%;}
	.banner_slide.mobile .swiper-pagination-bullet{width: 10px;height: 10px;opacity: 1;background-color: #eaeaea;}
	.banner_slide.mobile .swiper-pagination-bullet-active{background-color: #5f0080;}

	.main_banner .inner .main_info{position: relative;width: 100%;height: auto;}
	.main_banner .inner .main_info .ib_inner{background-color: #f6f6fa;padding: 12px 20px;}
	.main_banner .inner .main_info .ib_inner dl dt{font-size: 15px;}
	.main_banner .inner .main_info .ib_inner dl dd{font-size: 16px;}
	.main_banner .inner .main_info .ib_inner .ib_name{padding-bottom: 11px;margin-bottom: 12px; border-bottom: 1px solid #eaeaea; font-size: 16px;line-height: 30px;}
	.main_banner .inner .main_info .ib_inner .ib_name strong{max-width: calc(100% - 83px);}
	.main_banner .inner .main_info .ib_inner .ib_name strong em {max-width: calc(100% - 25px);}
	.main_banner .inner .main_info .ib_inner.login {padding: 12px 20px;}
	.main_banner .inner .main_info .ib_inner.login dl{margin-top: 0;}
	.main_banner .inner .main_info .ib_inner.login dl dt{font-size: 15px;line-height: 30px;}
	.main_banner .inner .main_info .ib_inner.login dl dd{font-size: 16px;line-height: 30px;}

	.main_banner .inner .main_info .box_slider{display: none;}

	.main_content .content_area .inner{padding: 27px 20px 105px;}
	.main_content .content_area .inner .tab_btn{position: relative;top: 0;left: 0;text-align: center;}
	.main_content .content_area .inner .tab_btn .btn{font-size: 20px;height: 34px;line-height: 34px; font-weight: 600; margin-left: 40px;}
	.main_content .content_area .inner .tab_btn .btn:before {left: -20px;height: 16px;transform: perspective(8px) translateY(-50%);-webkit-transform: perspective(8px) translateY(-50%);}

	.main_content .content_area .inner .main_tab_content{padding-top: 12px;}
	.main_tab_content .sort_area{position: relative;top: 0;text-align: center;}
	.main_tab_content .sort_area .chk{font-size: 15px;line-height: 23px; padding-right: 13px;background-image: url(../images/common/arrow_down03.png); -webkit-background-size: 8px 4px;	background-size: 8px 4px; color: #222;opacity: 0.5;}
	.main_tab_content .sort_area input:first-child + .chk{margin-left: 0;}
	.main_tab_content .sort_area input:checked + .chk{opacity: 1;}

	.main_tab_content ul{margin-top: 20px;margin-left: -1%;}
	.main_tab_content ul li{width: 49%;margin-left: 1%;}
	.main_tab_content ul li .list_content{padding: 17px 15px 6px 10px;}

	.main_tab_content ul li .list_top .info_area{bottom: 15px;}
	.main_tab_content ul li .list_top .info_area a{margin: 8px 0;}
	.main_tab_content ul li .list_top .info_area p{font-size: 16px;}

	.main_tab_content ul li .list_content dl dt{font-size: 14px;}
	.main_tab_content ul li .list_content dl dd{font-size: 14px;}
}

/* mobile*/
@media only screen and (max-width:480px) {
	.main_content .content_area .inner{padding: 27px 0 105px;}
	.main_tab_content ul {margin-left: 0;}
	.main_tab_content ul li{width: 100%;margin-left: 0;margin-bottom:0; padding: 20px 20px 0; border-top: 1px solid #ddd;}
	.main_tab_content ul li:first-child{padding-top: 0;border-top: none;}
	.main_tab_content ul li .list_content{padding: 18px 0;}
	.main_tab_content ul li .list_content .goods_info .sort{font-size: 15px;line-height: 16px;}
	.main_tab_content ul li .list_content .goods_info span{top: -3px;right: 0;}
	.main_tab_content ul li .list_content dl{background-color: #f6f6fa;padding-left: 20px;padding-right: 16px;padding-bottom: 18px;}
	.main_tab_content ul li .list_content .list_title + dl{padding-top: 18px;padding-bottom: 0;}
	.main_tab_content ul li .list_content .list_title + dl + dl{padding-bottom: 0;}
	.main_tab_content ul li .list_content dl dt{font-size: 16px;line-height: 25px;}
	.main_tab_content ul li .list_content dl dd{font-size: 17px;text-align: right;line-height: 25px;}

	.main_tab_content ul.ads_list li .list_content .list_title + dl + dl{padding-bottom: 18px;}

	.main_tab_content ul li .list_content .list_sub_info:after{content: '';display: block;clear: both;}
	.main_tab_content ul li .list_content .list_sub_info span{float: right;}
	.main_tab_content ul li .list_content .list_sub_info span:before{display: none;}
	.main_tab_content ul li .list_content .list_sub_info span strong{display: block;font-size: 15px; line-height: 22px; padding-left: 28px; background-repeat: no-repeat;background-position: left center; background-image: url(../images/main/ico_sub_view.png); -webkit-background-size: 20px 12px;	background-size: 20px 12px;}
	.main_tab_content ul li .list_content .list_sub_info span.like{float: left;font-size: 15px;line-height: 22px;}
	
	.main_tab_content ul li .list_content .list_sub_info span.like i{width: 18px;background-image: url(../images/main/ico_sub_like02.png); -webkit-background-size: contain; background-size: contain; margin-right: 7px;}

	.main_tab_content .btn_area .btn{width: 100%;}
}